<div class="fondo">

    <div class="card">
        <div class="logo">
            <img src="/assets/icono.svg">
            <p>CloudFly</p>
        </div>
        <app-cajatexto label="Nombres y Apellidos" placeholder="Nombres y Apellidos"></app-cajatexto>
        <app-cajatexto label="Correo Electronico" placeholder="Correo Electronico"></app-cajatexto>

        <div class="select-lista">
            <app-cajaselect label="Documento" class="select" [lista]='lista1'></app-cajaselect>
            <app-cajatexto label="Correo Electronico" class="select" placeholder="Correo Electronico"></app-cajatexto>
        </div>

        <div class="select-lista">
            <app-cajaselect label="Pais" class="select" [lista]='lista2'></app-cajaselect>
            <app-cajaselect label="Departamento" class="select" [lista]='lista2'></app-cajaselect>
            <app-cajaselect label="Provincia" class="select" [lista]='lista1'></app-cajaselect>
            <app-cajaselect label="Distrito" class="select" [lista]='lista1'></app-cajaselect>
        </div>

        <div class="data-lista">
            <app-cajadata label="Fecha"></app-cajadata>
            <app-cajatexto label="Direccion" class="select" placeholder="Ingrese su dirección"></app-cajatexto>
            <app-btnarchivo label="Comprobante" value="Insertar Foto"></app-btnarchivo>

        </div>

        <div class="btn-ins">
            <app-notificaciones label="Push Notifications"></app-notificaciones>
            <input class="btn" type="button" value="Enviar Inscripción">
        </div>
    </div>

</div>